header {
    background-color: white;
    font-size: 1.6em;
    font-family: monospace;
    border: 3px solid black;
	border-radius: 20px;
	width: 96%;
	padding: 20px
}                            

.topnav {
  background-color: white;
  overflow: hidden;
  font-size: 15px;
  text-decoration: none;
  padding: 7px;
}

.topnav a:link{
	color: black;
}	

.dropdown {
  position: left;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 25px;
}


.dropdown:hover .dropdown-content {
  display: block;
}

header h1 {
  padding-left: 30%;
}

img#bagpipe {
	width: 8%;
	float: right;
	padding-right: 30%;
}

h2 {
    text-align: center;
    color: white;
    font-size: 3.3em;
}

body {
 background-image: url("scotland.jpg");    
 margin: 2em;
 height: 100vh;
}

/*div 1*/
div.gen {
    height: 50vh;
    background-color: darkblue;
    width: 24%;
	padding: 10px;
    float: left;
	margin: auto;
	border: 2px solid black;
	border-radius: 10px;
}
/*div 2*/
div.response { 
    height: 50vh;
    background-color: darkolivegreen;
    width: 70%;
    padding: 10px;
    float: right;
    text-align: center;	
	margin: auto;
	border: 2px solid black;
	border-radius: 10px;
}

/* div1 buttons */
p#sel, #buttonAgain {
    text-align: center;
	
}



/*More Tunes button*/
#buttonAgain {
    margin: -20px -50px; 
    position: relative;
    top:50%; 
	margin-top: 20px;

}

select {
	height:30px; 
	border: 2px solid black;
    cursor: pointer;
    }


/*The Tune Generator Chooses*/
p#tuneParagraph {
   color: white;
   font-size: 1.2em;
}

/* div2 tune response */
p#tune {
    font-size: 3.4em;
	color: white
}

a:link{
  color:blue;
}
a:visited{
  color:blue;
}
a:hover{
  color:orange;
}
a:focus{
  color:green;
}
a:active{
  color:red;
}

.button {
	cursor: pointer;
	height: 30px; 
	width: 150px;
	border-radius: 15px;
	margin: 10px;
	font-weight: bold;
	background-color: gainsboro;
}

audio {
}

#search-tune {
  width: 20%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid black;
  margin-bottom: 12px; 
}

ul#wrapper{
	display: none;
	list-style: none;
	position: absolute;
	z-index: 1;
	width: 300px;
	height: 300px;
	background-color: white; 
	z-index: 1;
	
}

ul#wrapper a{
	color: red;
	line-height: 30px;
}

li {
	border: 3px solid black;
	padding: 20px;
}

sel{
	text-align: center
}
